a {
  color: #e76f51;
}

a:hover {
  color: #f4a261;
  text-decoration: none;
}

body {
  background-color: #e9c46a;
  margin: 0;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  color: #264653;
}

h1 {
  margin: 0;
  font-family: 'Lobster', cursive;
  font-size: 560%;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Permanent Marker', cursive;
}

hr {
  width: 10%;
  background-color: #264653;
  border: none;
  height: 5px;
}

.bio {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.top {
  background-color: #e9c46a;
  margin: 100px 0px 0px 0px;
  padding: 20px 0px;
}

.middle {
  background-color: #2a9d8f;
  padding: 20px 0px;
}

.bottom {
  margin-bottom: 40px;
}

.projects {
  clear: both;
}

.skills {
  width: 50%;
  margin: 0 auto 30px auto;
  text-align: left;
}

#bos {
  border-radius: 20px;
  width: 200px;
}

#copyright {
  color: #2a9d8f;
  font-size: 10px;
}
#footer-img {
  width: 75px;
  margin: 0px 5px 0px 5px;
}

#logical-t {
  width: 200px;
  float: left;
  margin-right: 30px;
}

#molly-pic {
  border-radius: 100px;
  width: 200px;
  float: right;
  margin: 20px 0px 0px 30px;
}

#trek {
  border-radius: 20px;
  width: 500px;
}
